/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* --- */

/* general */
header,
main {
  padding: 1rem;
}

svg {
  width: 2rem;
  height: 2rem;
  margin: 8px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

header {
  background: hsla(213, 72%, 65%, 1);

  background: linear-gradient(
    270deg,
    hsla(213, 72%, 65%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(213, 72%, 65%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(213, 72%, 65%, 1) 0%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#65A0E6", endColorstr="#FFFFFF", GradientType=1 );
}

footer {
  background: hsla(213, 72%, 65%, 0.5);
}

#contactContainer {
  padding: 1rem;
}

.contact-info {
  display: flex;
  align-items: center;
}

#summary {
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 2rem;
}

.projectCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(39, 37, 37, 0.23) 0px 3px 6px;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 1s ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCard > h3,
.projectCard > p {
  padding: 0.5rem 1rem;
}

.projectCard > a {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  font-weight: bold;
}

/* mobile */
@media (max-width: 500px) {
  #profile-image {
    padding: 1rem;
  }

  header > h1 {
    position: absolute;
    top: 5%;
    left: 10%;
  }

  main > h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* tablet */
@media (500px < width < 1000px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* desktop */

@media (min-width: 1000px) {
  .projectCard > a > span {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .projectCard > a:hover > span {
    opacity: 1;
    animation: slide-in 0.6s ease-in-out;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
